
body{
  margin: 0px;
  padding: 0px;
}

.copy-header {
  font-size: 10px;
  color: #e4ff49;
  display: block;
  width: 35vw;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.card{
  margin: 2px;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (min-width: 576px){
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 769px){
  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
