:root {
  --white: white;
  --light: #ccc;
  --dark: #333;

  --yellow: #f4c73f;
  --green: #a2b55a;
  --blue: #4596d3;
  --purple: #aa6f6f;
  --orange: #f4753f;

  --primary: var(--orange);

  --soft-yellow: #f4cd58;
  --soft-green: #a5b56c;
  --soft-blue: #5b9fd3;
  --soft-purple: #aa8080;
  --soft-orange: #f48758;


  --success-color: var(--green);
  --warning-color: var(--yellow);
  --danger-color: var(--orange);

  --default-margin: .5rem;
  --default-padding: .5rem;
}

.brand-logo{
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Pacifico', cursive;
  color: #333; /*var(--dark);*/
}
