<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">MercadoNegro Store</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li *ngIf="!isLogged"><a routerLink="/security/login">Login</a></li>
        <li *ngIf="isLogged"><a routerLink="/security/logout">Logout</a></li>
        <li *ngIf="isLogged"><a routerLink="/security/change-password">Change-Password</a></li>
        <li *ngIf="!isLogged"><a routerLink="/store/register">Register</a></li>
        <li><a routerLink="/general/about-us">About us</a></li>
      </ul>
    </div>
  </nav>
