<mat-toolbar class="tolbar" >
  <div class="copy-header"><MARQUEE SCROLLDELAY =200>MercadoNegro presta servicio totalmente gratis!! </MARQUEE></div>
  <mat-toolbar-row>
    <div class="row between-xs middle-xs header-row">
    <nav>
        <a routerLink="#" class="brand-logo">MercadoNegro Store</a>
        <a *ngIf="isLogged"><a mat-flat-button matBadge="78" matBadgeColor="primary" routerLink="/products/product-list" routerLinkActive="active">Productos</a></a>
        <a *ngIf="isLogged"><a mat-flat-button matBadge="46" matBadgeColor="primary" routerLink="parameters/category-list" routerLinkActive="active">Categorias</a></a>
        <a *ngIf="isLogged"><a mat-flat-button matBadge="46" matBadgeColor="primary" routerLink="parameters/brand-list" routerLinkActive="active">Marcas</a></a>
        <a *ngIf="isLogged"><a mat-flat-button matBadge="4" matBadgeColor="primary" routerLink="/security/user-list" routerLinkActive="active">Users</a></a>
    </nav>
    <a *ngIf="isLogged"><a mat-flat-button routerLink="/security/change-password" routerLinkActive="active">Change-Password</a></a>
    <a *ngIf="!isLogged"><a mat-flat-button color="primary" routerLink="/store/register" routerLinkActive="active">Register</a></a>
    <a mat-flat-button routerLinkActive="/general/about-us">About us</a>
    <a *ngIf="!isLogged"><a mat-flat-button  routerLink="/security/login" routerLinkActive="active">Login</a></a>
    <a *ngIf="isLogged"><a mat-flat-button (click)="RemoveConfirmation('1')" routerLinkActive="active">Logout</a></a>
  </div>
  </mat-toolbar-row>
</mat-toolbar>

<!--<div id="removeConfirmationModal" class="modal">
    <div class="modal-content">
      <h4>Close Confirmation</h4>
      <p>Are you sure close this Session?</p>
    </div>
    <div class="modal-footer">
      <button (click)="RemoveRecord()" class="btn red waves-effect waves-light" type="button">Confirmar
        <i class="material-icons right">delete</i></button>
      <a class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>
-->

