  <form class="col s12" [formGroup]="fgValidator">
    <mat-card class="category-card">
      <mat-card-header>
        <mat-card-title>Agregar Categoria</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <i class="material-icons prefix">add</i>
            <mat-form-field class="full-width">
         <input matInput placeholder="Nombre" id="name" formControlName="name" type="text" class="validate">
        <mat-error class="warning-validator" *ngIf="fgv.name.errors && (fgv.name.dirty || fgv.name.touched)">
          <strong *ngIf='fgv.name.errors.required'>this Campo is required</strong>
          <strong *ngIf='fgv.name.errors.minlength'>his field must be at LEAST 2 CARACTERES MINIMUN of long</strong>
          <strong *ngIf='fgv.name.errors.maxlength'>his field must be at LEAST 50 CARACTERES MAXIMUM of long</strong>
        </mat-error>
      </mat-form-field>
      </div>
    </div>
    <div class="col">
      <i class="material-icons prefix">camera_alt</i>
        <input mat-raised-button color="primary" type="file" (change)="onFileSelect($event)">
     </div>
      <div class="col">
          <input class="file-path validate" type="text" id="photo">
     </div>
    <input matInput formControlName="photo" type="text">
  </mat-card-content>
    <div class="row">
      <div class="col">
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="SaveNewRecordFn()" name="action">Submit
          <i class="material-icons right">send</i>
        </button>
      </mat-card-actions>
    </div>
    <div class="col">
        &nbsp;&nbsp;
        <a routerLink="/parameters/category-list" mat-raised-button color="warn"><i class="material-icons right">cancel</i>Cancel</a>
    </div>
    </div>
  </mat-card>
  </form>

