<div id="resetPassword-page" class="row">
  <div class="col s12 z-depth-6 card-panel">
    <form [formGroup]="fgValidator" class="resetPassword-form">
      <div class="row">
        <div class="input-field col s12">
          <input class="validate" formControlName='email' id="email" type="email">
          <label for="email" data-error="wrong" data-success="right">Email</label>
          <div class="warning-validator" *ngIf='fgv.email.errors && (fgv.email.dirty || fgv.email.touched)'>
            <strong *ngIf="fgv.email.errors.required">This field id required</strong>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input class="validate" formControlName='password' id="password" type="password">
          <label for="email" data-error="wrong" data-success="right">Password</label>
          <div class="warning-validator" *ngIf='fgv.password.errors && (fgv.password.dirty || fgv.password.touched)'>
            <strong *ngIf="fgv.password.errors.required">This field id required</strong>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input class="validate" formControlName='passwordNew' id="passwordNew" type="password">
          <label for="email" data-error="wrong" data-success="right">Nuevo password</label>
          <div class="warning-validator" *ngIf='fgv.passwordNew.errors && (fgv.passwordNew.dirty || fgv.passwordNew.touched)'>
            <strong *ngIf="fgv.passwordNew.errors.required">This field id required</strong>
            <strong *ngIf="fgv.passwordNew.errors.minlength">this field must be at least 8 long</strong>
            <strong *ngIf="fgv.passwordNew.errors.maxlength">this field must be at least 30 long</strong>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input class="validate" formControlName='passwordNew2' id="passwordNew2" type="password">
          <label for="email" data-error="wrong" data-success="right">Nuevo password</label>
          <div class="warning-validator" *ngIf='fgv.passwordNew2.errors && (fgv.passwordNew2.dirty || fgv.passwordNew2.touched)'>
            <strong *ngIf="fgv.passwordNew2.errors.required">This field id required</strong>
            <strong *ngIf="fgv.passwordNew2.errors.minlength">this field must be at least 8 long</strong>
            <strong *ngIf="fgv.passwordNew2.errors.maxlength">this field must be at least 30 long</strong>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s4">
          <button (click)='changePasswordFn()' class="btn waves-effect waves-light col s12" type="submit"
            name="action">Reset
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

