<mat-card-actions>
  <i class="material-icons right">add</i>
  <button mat-raised-button color="primary" routerLink="/parameters/category-creation">Agregar</button>
</mat-card-actions>
<table class="highlight, responsive-table">
  <thead>
    <tr>
      <td>Nombre</td>
      <td>photo</td>
      <td>Edit</td>
      <td>Remove</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let r of recordList | paginate: { itemsPerPage: 12, currentPage: page }">
      <td>{{r.name}}</td>
      <td>{{r.photo}}</td>
      <td><a routerLink="/parameters/category-edition/{{r.id}}"  mat-raised-button color="accent"><i class="material-icons right">edit</i>Edit</a></td>
      <td><button (click)="RemoveConfirmation(r.id)" mat-raised-button color="warn">Borrar
        <i class="material-icons right">delete</i>
      </button></td>
    </tr>
  </tbody>

</table>
<pagination-controls (pageChange)="page = $event"></pagination-controls>

<!--<div id="removeConfirmationModal" class="modal">
  <div class="modal-content">
    <h4>Remove Confirmation</h4>
    <p>Are you sure remove this record?</p>
  </div>
  <div class="modal-footer">
    <button (click)="RemoveRecord()" mat-raised-button type="button">Confirmar
      <i class="material-icons right">delete</i></button>
    <a class="modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>
-->
