.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.brand-logo{
  padding-right: 80px;
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Pacifico', cursive;
  color: #333; /*var(--dark);*/
}

.active{
  background-color: rgb(194, 194, 243);

}
