<legend>
  <div class="brand-logo">
    <h5>Product Images</h5>
  </div>
</legend>
<div class="row">
<form [formGroup]="fgValidator">
  <div class="row">
    <div class="col s6 m6">
      <div class="file-field input-field">
        <div class="btn">
          <span>Image</span>
          <input type="file"  formControlName="name" (change)="uploadFile($event)">
          <img [src]="url">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
      <input formControlName="name" type="hidden">
    </div>
    <div class="input-field col s3">
      <input formControlName="orden" id="orden" placeholder="Orden" type="number" class="validate">
      <label for="orden" class="active">Orden</label>
    </div>
    <div class="input-field col s3">
      <button mat-raised-button color="primary" (click)="UploadImageFn()" type="button" name="action">Upload
        <i class="material-icons right">send</i>
      </button>
    </div>
  </div>
</form>
</div>
<div class="row">
  <div *ngFor="let i of imagesList" name="img-container" class="img-container">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Orden :{{i.orden}}</mat-card-title>
        <mat-card-subtitle> </mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{i.name}}" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="RemoveConfirmation(i.id)">Remove</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>




<!-- <div id="removeConfirmationModal" class="modal">
  <div class="modal-content">
    <h4>Remove Confirmation</h4>
    <p>Are you sure remove this Image?</p>
  </div>
 <div class="modal-footer">
    <button (click)="RemoveRecord()" mat-raised-button color="primary">Confirmar
      <i class="material-icons right">delete</i></button>
    <a class="modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>-->
